@font-face {
  font-display: swap;
  font-family: "Host Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/host-grotesk-v5-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Host Grotesk";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/host-grotesk-v5-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/jetbrains-mono-regular-subset.woff2") format("woff2");
}
